@import url(https://fonts.googleapis.com/css?family=Mulish:regular,500);

@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #FFFFFF;
  line-height: 1;
  font-family: "Mulish";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Mulish";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 400;
  line-height: 150%;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__error {
  color: rgb(255, 0, 0);
  padding-top: 0.3125rem;
  padding-left: 1.25rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 0.875rem;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.875rem;
  border-radius: 2.3125rem;
  -webkit-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

.button:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.button-blue {
  color: #FFFFFF;
  background-color: #006AFF;
}

.button-blue:hover {
  background-color: #4a96ff;
}

.button-white {
  color: #141516;
  background-color: #FFFFFF;
}

.button-white:hover {
  background-color: #c7c7c7;
}

.button-transparency {
  color: #141516;
  border: 1px solid #141516;
}

.button-transparency:hover {
  color: rgb(192, 192, 192);
  background-color: rgba(54, 54, 54, 0.719);
}

.button-transparency_not-border {
  border: none;
  color: #FFFFFF;
}

.button-transparency_not-border:hover {
  color: #FFFFFF;
  background-color: rgba(112, 112, 112, 0.973);
}

.button-transparency_white {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

._watcher-hide {
  -webkit-transform: translate(0, 5%);
      -ms-transform: translate(0, 5%);
          transform: translate(0, 5%);
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.15s;
  -o-transition: all 0.8s ease 0.15s;
  transition: all 0.8s ease 0.15s;
}

._watcher-view {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header._header-scroll {
  position: fixed;
  top: -100%;
}

.header._header-show {
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  top: 0;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141516;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 2.875rem;
  padding: 1.5rem 0;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__box-button {
  position: relative;
  z-index: 5;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__body {
  position: relative;
  z-index: 5;
}

.menu-open .menu__body {
  top: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.625rem;
}

.menu__link {
  display: block;
  padding: 0.625rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  border-radius: 1.25rem;
}

.menu__link:hover {
  -webkit-box-shadow: inset 0 0 1.25rem 0 #fff;
          box-shadow: inset 0 0 1.25rem 0 #fff;
}

.menu__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: inset 0 0 1.25rem 0 rgb(179, 231, 255);
          box-shadow: inset 0 0 1.25rem 0 rgb(179, 231, 255);
}

.menu__item_btn {
  width: 100%;
  text-align: center;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f7f9fa;
  /* 	background-color: #95cde9; */
  color: #141516;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  max-width: 10.6875rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.footer__social-link {
  display: block;
  padding: 0.375rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.footer__social-link:first-child {
  padding-left: 0;
}

.footer__social-link:hover .footer__social-img {
  opacity: 0.75;
}

.footer__social-link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__title {
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.2222222222;
}

.footer__list {
  display: -ms-grid;
  display: grid;
}

.footer__link-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5625rem;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.footer__link-contacts:hover {
  opacity: 0.75;
}

.footer__link-contacts:active {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}

.footer__contacts-text {
  max-width: 11.25rem;
}

.footer__personal-data {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.25rem;
          flex: 0 1 32.25rem;
}

.footer__box-form {
  max-width: 32.25rem;
}

.footer__form {
  display: -ms-grid;
  display: grid;
  gap: 1.125rem;
  width: 100%;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.0625rem solid #C9C9C9;
}

.footer__copyright-text {
  font-weight: 500;
  font-size: 0.875rem;
}

.form__box-input {
  max-width: 100%;
}

.form__textarea {
  min-height: 7.5rem;
  height: 7.5rem;
  max-width: 32.25rem;
}

.form__fields {
  outline: none;
  width: 100%;
  background: #FFFFFF;
  border: 0.0625rem solid #EFEFEF;
  border-radius: 0.8125rem;
  padding: 0.8125rem 1.125rem 0.875rem 1.125rem;
}

.form__button {
  max-width: 7.1875rem;
}

.home {
  background-color: #141516;
  padding-top: 10.625rem;
  padding-bottom: 4.4375rem;
}

.home__body {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.home__title {
  max-width: 30.5625rem;
  padding-bottom: 1.0625rem;
}

.home__text {
  max-width: 27.5625rem;
}

.home__content-img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  max-width: 33.9375rem;
  -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.home__decoratin-element {
  position: absolute;
  z-index: 2;
  top: -1.125rem;
  right: -1.1875rem;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.5rem;
  height: 1.875rem;
  border-radius: 0.9375rem;
  -webkit-box-shadow: 0px 5px 21px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 21px 10px rgba(0, 0, 0, 0.25);
}

.home__decoratin-text {
  font-weight: 600;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
}

.home__decoratin-text::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  background: rgb(255, 0, 0);
  border-radius: 50%;
}

.home__box-img {
  width: 100%;
  height: 100%;
}

.home__box-img_phone {
  position: absolute;
  z-index: 1;
  bottom: -2.375rem;
  left: -1rem;
}

.home__box-img_table {
  display: none;
}

.home__img-table {
  max-width: 100%;
  height: auto;
}

.home__img-phone {
  width: 100%;
  height: 100%;
}

.home__content-companies {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/2/3;
}

.content-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.platform {
  color: #141516;
}

.platform__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform__title {
  padding-bottom: 0.8125rem;
}

.platform__text {
  max-width: 28.5625rem;
  text-align: center;
}

.benefits {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(auto, 14.25rem));
}

.benefits__icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8125rem;
  padding-bottom: 0.8125rem;
}

.benefits__title {
  padding-bottom: 0;
  font-weight: 600;
  line-height: 1.2222222222;
}

.we-help {
  background: #141516;
}

.we-help__title {
  text-align: center;
}

.we-help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.we-help__item_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 1.875rem;
}

.monetize__content-img {
  position: relative;
}

.monetize__box-donate {
  position: absolute;
  z-index: 2;
  top: -1.875rem;
  left: -3.125rem;
  background: #fff;
  color: #141516;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.0625rem;
  border-radius: 1.6875rem;
  padding: 1.875rem 2.3125rem;
  width: 16.375rem;
}

.monetize__button-donate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 3.3125rem;
  width: 11.75rem;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: 1.2222222222;
  background: #F5F5F5;
  border-radius: 0.75rem;
  padding: 0rem 1.0625rem 0rem 0.6875rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.monetize__button-donate_active {
  color: #006AFF;
  background: rgba(0, 106, 255, 0.1);
  -webkit-box-shadow: -0.5625rem 0.8125rem 0.375rem rgba(172, 172, 172, 0.15);
          box-shadow: -0.5625rem 0.8125rem 0.375rem rgba(172, 172, 172, 0.15);
  -webkit-transform: translate(4px, -4px);
      -ms-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
}

.monetize__button-donate:hover {
  color: #006AFF;
  background: rgba(0, 106, 255, 0.1);
  -webkit-box-shadow: -0.5625rem 0.8125rem 0.375rem rgba(172, 172, 172, 0.15);
          box-shadow: -0.5625rem 0.8125rem 0.375rem rgba(172, 172, 172, 0.15);
  -webkit-transform: translate(4px, -4px);
      -ms-transform: translate(4px, -4px);
          transform: translate(4px, -4px);
}

.monetize__button-donate:active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.optimized__content-img {
  position: relative;
}

.we-help-item__title {
  font-weight: 600;
  line-height: 1.2222222222;
}

.we-help-item__text {
  max-width: 27.5625rem;
}

.we-help-item__link-text {
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.we-help-item__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: gap 0.25s ease 0s;
  -o-transition: gap 0.25s ease 0s;
  transition: gap 0.25s ease 0s;
  gap: 0.75rem;
}

.we-help-item__link:hover {
  color: rgb(160, 160, 160);
}

.we-help-item__link:active {
  gap: 1.5625rem;
}

.we-help-item__link:active .we-help-item__link-text {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.we-help-item__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.decoration-icon {
  position: absolute;
  z-index: 2;
  top: -1.25rem;
  right: -0.9375rem;
  background-color: #fff;
  padding: 0.84375rem 1rem;
  border-radius: 0.75rem;
}

.decoration-icon__box-icon {
  position: relative;
}

.decoration-icon__box-icon::before {
  content: "1";
  position: absolute;
  font-family: sans-serif;
  top: -0.1875rem;
  right: -0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.5rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #006AFF;
  border: 1px solid #F5F5F5;
}

.business {
  background-color: #141516;
}

.business__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business__title {
  text-align: center;
}

.business__text {
  text-align: center;
}

.business__contentn-img {
  position: relative;
  margin: 0 1.875rem;
}

.business__box-img_phone {
  position: absolute;
  bottom: -3.0625rem;
  left: -1.375rem;
}

.business__img {
  max-width: 100%;
  height: auto;
}

.our-platform {
  color: #141516;
}

.our-platform__title {
  text-align: center;
}

.our-platform__text {
  text-align: center;
}

.our-platform__box-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-platform__slider {
  overflow: visible !important;
}

.our-platform__slide {
  min-width: 22.5rem;
}

.our-platform__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 37.5625em) {
  .menu__item_btn {
    display: none;
  }
}

@media (min-width: 47.99875em) {
  .home__box-img_table {
    display: block;
  }
}

@media (min-width: 73.125em) {
  .title-big {
    font-size: 3.0625rem;
  }

  .box-button {
    gap: 1.875rem;
  }

  .button {
    width: 10.3125rem;
  }

  .button-smaller {
    width: 8.9375rem;
  }

  .header__body {
    min-height: 2.875rem;
  }

  .header__box-button {
    gap: 0.625rem;
  }

  .menu__list {
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
  }

  .footer {
    padding-top: 5.125rem;
  }

  .footer__body {
    gap: 3.5rem;
  }

  .footer__body {
    padding-bottom: 3.5rem;
  }

  .footer__logo-link {
    padding-bottom: 1.5rem;
  }

  .footer__text {
    padding-bottom: 1.375rem;
  }

  .footer__title {
    font-size: 1.125rem;
  }

  .footer__title {
    padding-bottom: 1.25rem;
  }

  .footer__list {
    gap: 1.4375rem;
  }

  .footer__copyright {
    padding-top: 1.1875rem;
  }

  .footer__copyright {
    padding-bottom: 1.3125rem;
  }

  .form__fields {
    font-size: 1rem;
  }

  .home {
    padding-top: 10.625rem;
  }

  .home__body {
    row-gap: 10.125rem;
  }

  .home__content {
    padding-top: 3.8125rem;
  }

  .home__title {
    font-size: 3.0625rem;
  }

  .home__text {
    padding-bottom: 3.0625rem;
  }

  .platform {
    padding-top: 6.625rem;
  }

  .platform {
    padding-bottom: 8.3125rem;
  }

  .platform__content {
    padding-bottom: 7.4375rem;
  }

  .platform__text {
    padding-bottom: 3.1875rem;
  }

  .benefits {
    -webkit-column-gap: 7.1875rem;
       -moz-column-gap: 7.1875rem;
            column-gap: 7.1875rem;
  }

  .benefits {
    row-gap: 4.5625rem;
  }

  .benefits__title {
    font-size: 1.125rem;
  }

  .we-help {
    padding-top: 3.8125rem;
  }

  .we-help {
    padding-bottom: 14.3125rem;
  }

  .we-help__title {
    padding-bottom: 5.125rem;
  }

  .monetize {
    padding-bottom: 14.75rem;
  }

  .monetize__button-donate {
    font-size: 1.125rem;
  }

  .we-help-item__title {
    font-size: 2.25rem;
  }

  .we-help-item__title {
    padding-bottom: 1.625rem;
  }

  .we-help-item__text {
    padding-bottom: 1.625rem;
  }

  .business {
    padding-bottom: 10.4375rem;
  }

  .business__body {
    gap: 5.625rem;
  }

  .business__text {
    padding-bottom: 3.4375rem;
  }

  .our-platform {
    padding-top: 8.3125rem;
  }

  .our-platform {
    padding-bottom: 12.5rem;
  }

  .our-platform__text {
    padding-bottom: 6.125rem;
  }

  .our-platform__box-pictures {
    gap: 1.5rem;
  }
}

@media (min-width: 64em) {
  .home__box-img_phone {
    width: 9.5625rem;
  }

  .home__box-img_phone {
    height: 18.25rem;
  }
}

@media (min-width: 90em) {
  .header__body {
    gap: 6rem;
  }

  .menu__link {
    padding-right: 0.625rem;
  }

  .menu__link {
    padding-left: 0.625rem;
  }

  .footer__contact {
    padding-right: 1.9375rem;
  }
}

@media (max-width: 64em) {
  .header__body {
    padding: 0.875rem 0;
  }

  .our-platform__slide {
    min-width: 18.125rem;
  }
}

@media (max-width: 48em) {
  .header__body {
    gap: 0.9375rem;
  }

  .menu__link {
    padding-right: 0.375rem;
  }

  .menu__link {
    padding-left: 0.375rem;
  }

  .footer__contact {
    padding-right: 0.0000000625rem;
  }

  .home__box-img_phone {
    width: 5.4375rem;
  }

  .home__box-img_phone {
    height: 10.625rem;
  }
}

@media (max-width: 20em) {
  .title-big {
    font-size: 1.75rem;
  }

  .box-button {
    gap: 0.9375rem;
  }

  .button {
    width: 8.75rem;
  }

  .button-smaller {
    width: 7.5rem;
  }

  .header__body {
    min-height: 1.875rem;
  }

  .header__box-button {
    gap: 0.0000000625rem;
  }

  .menu__list {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .footer {
    padding-top: 3.125rem;
  }

  .footer__body {
    gap: 1.5625rem;
  }

  .footer__body {
    padding-bottom: 1.4375rem;
  }

  .footer__logo-link {
    padding-bottom: 0.9375rem;
  }

  .footer__text {
    padding-bottom: 0.9375rem;
  }

  .footer__title {
    font-size: 1rem;
  }

  .footer__title {
    padding-bottom: 0.9375rem;
  }

  .footer__list {
    gap: 0.875rem;
  }

  .footer__copyright {
    padding-top: 0.875rem;
  }

  .footer__copyright {
    padding-bottom: 1rem;
  }

  .form__fields {
    font-size: 0.875rem;
  }

  .home {
    padding-top: 3.75rem;
  }

  .home__body {
    row-gap: 1.875rem;
  }

  .home__content {
    padding-top: 1.9375rem;
  }

  .home__title {
    font-size: 1.75rem;
  }

  .home__text {
    padding-bottom: 1.25rem;
  }

  .platform {
    padding-top: 3.125rem;
  }

  .platform {
    padding-bottom: 3.125rem;
  }

  .platform__content {
    padding-bottom: 1.875rem;
  }

  .platform__text {
    padding-bottom: 1.875rem;
  }

  .benefits {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .benefits {
    row-gap: 2.5rem;
  }

  .benefits__title {
    font-size: 1rem;
  }

  .we-help {
    padding-top: 1.875rem;
  }

  .we-help {
    padding-bottom: 3.125rem;
  }

  .we-help__title {
    padding-bottom: 2.8125rem;
  }

  .monetize {
    padding-bottom: 7.1875rem;
  }

  .monetize__button-donate {
    font-size: 1rem;
  }

  .we-help-item__title {
    font-size: 1.75rem;
  }

  .we-help-item__title {
    padding-bottom: 0.9375rem;
  }

  .we-help-item__text {
    padding-bottom: 0.9375rem;
  }

  .business {
    padding-bottom: 3.125rem;
  }

  .business__body {
    gap: 3.125rem;
  }

  .business__text {
    padding-bottom: 1.875rem;
  }

  .our-platform {
    padding-top: 3.125rem;
  }

  .our-platform {
    padding-bottom: 3.125rem;
  }

  .our-platform__text {
    padding-bottom: 2.1875rem;
  }

  .our-platform__box-pictures {
    gap: 0.625rem;
  }
}

@media (max-width: 51.875em) {
  .we-help__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .monetize__content-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .monetize__box-donate {
    top: auto;
    left: auto;
    bottom: -5.625rem;
  }
}

@media (max-width: 47.99875em) {
  .header__body {
    padding: 0.75rem 0;
  }

  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .header__box-button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu__body {
    position: fixed;
    z-index: 3;
    padding: 4.6875rem 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: -100%;
    left: 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow-y: auto;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    width: 100%;
    text-align: center;
  }

  .menu__link {
    font-size: 1.625rem;
    width: 90%;
    margin: 0 auto;
    padding: 1.125rem 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__personal-data {
    justify-items: center;
  }

  .home__content-img {
    max-width: 9.375rem;
  }

  .home__decoratin-element {
    top: -0.625rem;
    right: -0.3125rem;
  }

  .home__box-img_phone {
    position: relative;
    top: 0;
    left: 0;
  }

  .content-companies {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.875rem;
  }

  .decoration-icon {
    top: -0.9375rem;
    right: -0.625rem;
    padding: 0.625rem 0.8125rem;
  }

  .business__contentn-img {
    margin: 0;
  }

  .business__box-img_phone {
    position: relative;
    bottom: auto;
    left: auto;
  }

  .business__img_tablet {
    display: none;
  }

  .our-platform__slide {
    min-width: 14.375rem;
  }
}

@media (max-width: 47.99875em) and (max-width: 26.5625em) {
  .home__box-img_phone {
    width: 5.4375rem;
  }

  .home__box-img_phone {
    height: 10.625rem;
  }
}

@media (max-width: 37.5em) {
  .header__button_blue {
    font-size: 1.25rem;
    min-width: 55%;
    margin: 0 auto;
  }
}

@media (max-width: 33.75em) {
  .home__title {
    text-align: center;
  }

  .home__text {
    text-align: center;
  }

  .home__box-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .home__content-img {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    width: 100%;
    height: 18.25rem;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .home__box-img_phone {
    width: 100%;
    height: 100%;
  }

  .home__content-companies {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 3;
    grid-row: 3/3;
  }
}

@media (max-width: 26.5625em) {
  .header__body {
    padding: 0.625rem 0;
  }

  .monetize__content-img {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    gap: 1.25rem;
  }

  .monetize__box-donate {
    position: relative;
    bottom: auto;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .monetize__button-donate {
    width: 100%;
  }

  .monetize {
    padding-bottom: 3.125rem;
  }

  .our-platform__slide {
    min-width: 11.875rem;
  }
}

@media (min-width: 20em) and (max-width: 73.125em) {
@supports (font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem )) {
    .title-big {
      font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem )) {
    .title-big {
      font-size: calc(1.75rem + 1.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .box-button {
      gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.5845588235rem  +  1.7647058824vw , 1.875rem )) {
    .box-button {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (width: clamp( 8.75rem , 8.1617647059rem  +  2.9411764706vw , 10.3125rem )) {
    .button {
      width: clamp( 8.75rem , 8.1617647059rem  +  2.9411764706vw , 10.3125rem );
    }
}

@supports not (width: clamp( 8.75rem , 8.1617647059rem  +  2.9411764706vw , 10.3125rem )) {
    .button {
      width: calc(8.75rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (width: clamp( 7.5rem , 6.9588235294rem  +  2.7058823529vw , 8.9375rem )) {
    .button-smaller {
      width: clamp( 7.5rem , 6.9588235294rem  +  2.7058823529vw , 8.9375rem );
    }
}

@supports not (width: clamp( 7.5rem , 6.9588235294rem  +  2.7058823529vw , 8.9375rem )) {
    .button-smaller {
      width: calc(7.5rem + 1.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (min-height: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem )) {
    .header__body {
      min-height: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem );
    }
}

@supports not (min-height: clamp( 1.875rem , 1.4985294118rem  +  1.8823529412vw , 2.875rem )) {
    .header__body {
      min-height: calc(1.875rem + 1 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.0000000625rem , -0.2352940316rem  +  1.1764704706vw , 0.625rem )) {
    .header__box-button {
      gap: clamp( 0.0000000625rem , -0.2352940316rem  +  1.1764704706vw , 0.625rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.2352940316rem  +  1.1764704706vw , 0.625rem )) {
    .header__box-button {
      gap: calc(0.0000000625rem + 0.6249999375 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem )) or (column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem );
         -moz-column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem );
              column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem )) or (column-gap: clamp( 0.625rem , -0.6455882353rem  +  6.3529411765vw , 4rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.625rem + 3.375 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(0.625rem + 3.375 * (100vw - 20rem) / 53.125);
              column-gap: calc(0.625rem + 3.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.3720588235rem  +  3.7647058824vw , 5.125rem )) {
    .footer {
      padding-top: clamp( 3.125rem , 2.3720588235rem  +  3.7647058824vw , 5.125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.3720588235rem  +  3.7647058824vw , 5.125rem )) {
    .footer {
      padding-top: calc(3.125rem + 2 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 1.5625rem , 0.8330882353rem  +  3.6470588235vw , 3.5rem )) {
    .footer__body {
      gap: clamp( 1.5625rem , 0.8330882353rem  +  3.6470588235vw , 3.5rem );
    }
}

@supports not (gap: clamp( 1.5625rem , 0.8330882353rem  +  3.6470588235vw , 3.5rem )) {
    .footer__body {
      gap: calc(1.5625rem + 1.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.4375rem , 0.6610294118rem  +  3.8823529412vw , 3.5rem )) {
    .footer__body {
      padding-bottom: clamp( 1.4375rem , 0.6610294118rem  +  3.8823529412vw , 3.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.4375rem , 0.6610294118rem  +  3.8823529412vw , 3.5rem )) {
    .footer__body {
      padding-bottom: calc(1.4375rem + 2.0625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem )) {
    .footer__logo-link {
      padding-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7257352941rem  +  1.0588235294vw , 1.5rem )) {
    .footer__logo-link {
      padding-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.7727941176rem  +  0.8235294118vw , 1.375rem )) {
    .footer__text {
      padding-bottom: clamp( 0.9375rem , 0.7727941176rem  +  0.8235294118vw , 1.375rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.7727941176rem  +  0.8235294118vw , 1.375rem )) {
    .footer__text {
      padding-bottom: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .footer__title {
      font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .footer__title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .footer__title {
      padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.8198529412rem  +  0.5882352941vw , 1.25rem )) {
    .footer__title {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.875rem , 0.6632352941rem  +  1.0588235294vw , 1.4375rem )) {
    .footer__list {
      gap: clamp( 0.875rem , 0.6632352941rem  +  1.0588235294vw , 1.4375rem );
    }
}

@supports not (gap: clamp( 0.875rem , 0.6632352941rem  +  1.0588235294vw , 1.4375rem )) {
    .footer__list {
      gap: calc(0.875rem + 0.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 0.875rem , 0.7573529412rem  +  0.5882352941vw , 1.1875rem )) {
    .footer__copyright {
      padding-top: clamp( 0.875rem , 0.7573529412rem  +  0.5882352941vw , 1.1875rem );
    }
}

@supports not (padding-top: clamp( 0.875rem , 0.7573529412rem  +  0.5882352941vw , 1.1875rem )) {
    .footer__copyright {
      padding-top: calc(0.875rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1rem , 0.8823529412rem  +  0.5882352941vw , 1.3125rem )) {
    .footer__copyright {
      padding-bottom: clamp( 1rem , 0.8823529412rem  +  0.5882352941vw , 1.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1rem , 0.8823529412rem  +  0.5882352941vw , 1.3125rem )) {
    .footer__copyright {
      padding-bottom: calc(1rem + 0.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8279411765rem  +  0.2352941176vw , 1rem )) {
    .form__fields {
      font-size: clamp( 0.875rem , 0.8279411765rem  +  0.2352941176vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8279411765rem  +  0.2352941176vw , 1rem )) {
    .form__fields {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.75rem , 1.1617647059rem  +  12.9411764706vw , 10.625rem )) {
    .home {
      padding-top: clamp( 3.75rem , 1.1617647059rem  +  12.9411764706vw , 10.625rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 1.1617647059rem  +  12.9411764706vw , 10.625rem )) {
    .home {
      padding-top: calc(3.75rem + 6.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (row-gap: clamp( 1.875rem , -1.2308823529rem  +  15.5294117647vw , 10.125rem )) {
    .home__body {
      row-gap: clamp( 1.875rem , -1.2308823529rem  +  15.5294117647vw , 10.125rem );
    }
}

@supports not (row-gap: clamp( 1.875rem , -1.2308823529rem  +  15.5294117647vw , 10.125rem )) {
    .home__body {
      row-gap: calc(1.875rem + 8.25 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.9375rem , 1.2316176471rem  +  3.5294117647vw , 3.8125rem )) {
    .home__content {
      padding-top: clamp( 1.9375rem , 1.2316176471rem  +  3.5294117647vw , 3.8125rem );
    }
}

@supports not (padding-top: clamp( 1.9375rem , 1.2316176471rem  +  3.5294117647vw , 3.8125rem )) {
    .home__content {
      padding-top: calc(1.9375rem + 1.875 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem )) {
    .home__title {
      font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2558823529rem  +  2.4705882353vw , 3.0625rem )) {
    .home__title {
      font-size: calc(1.75rem + 1.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5676470588rem  +  3.4117647059vw , 3.0625rem )) {
    .home__text {
      padding-bottom: clamp( 1.25rem , 0.5676470588rem  +  3.4117647059vw , 3.0625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5676470588rem  +  3.4117647059vw , 3.0625rem )) {
    .home__text {
      padding-bottom: calc(1.25rem + 1.8125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.8073529412rem  +  6.5882352941vw , 6.625rem )) {
    .platform {
      padding-top: clamp( 3.125rem , 1.8073529412rem  +  6.5882352941vw , 6.625rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.8073529412rem  +  6.5882352941vw , 6.625rem )) {
    .platform {
      padding-top: calc(3.125rem + 3.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem )) {
    .platform {
      padding-bottom: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem )) {
    .platform {
      padding-bottom: calc(3.125rem + 5.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.2191176471rem  +  10.4705882353vw , 7.4375rem )) {
    .platform__content {
      padding-bottom: clamp( 1.875rem , -0.2191176471rem  +  10.4705882353vw , 7.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.2191176471rem  +  10.4705882353vw , 7.4375rem )) {
    .platform__content {
      padding-bottom: calc(1.875rem + 5.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3808823529rem  +  2.4705882353vw , 3.1875rem )) {
    .platform__text {
      padding-bottom: clamp( 1.875rem , 1.3808823529rem  +  2.4705882353vw , 3.1875rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3808823529rem  +  2.4705882353vw , 3.1875rem )) {
    .platform__text {
      padding-bottom: calc(1.875rem + 1.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports ((-moz-column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem )) or (column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem ))) {
    .benefits {
      -webkit-column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem );
         -moz-column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem );
              column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem )) or (column-gap: clamp( 3.125rem , 1.5955882353rem  +  7.6470588235vw , 7.1875rem ))) {
    .benefits {
      -webkit-column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 53.125);
         -moz-column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 53.125);
              column-gap: calc(3.125rem + 4.0625 * (100vw - 20rem) / 53.125);
    }
}

@supports (row-gap: clamp( 2.5rem , 1.7235294118rem  +  3.8823529412vw , 4.5625rem )) {
    .benefits {
      row-gap: clamp( 2.5rem , 1.7235294118rem  +  3.8823529412vw , 4.5625rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 1.7235294118rem  +  3.8823529412vw , 4.5625rem )) {
    .benefits {
      row-gap: calc(2.5rem + 2.0625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .benefits__title {
      font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .benefits__title {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.1455882353rem  +  3.6470588235vw , 3.8125rem )) {
    .we-help {
      padding-top: clamp( 1.875rem , 1.1455882353rem  +  3.6470588235vw , 3.8125rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.1455882353rem  +  3.6470588235vw , 3.8125rem )) {
    .we-help {
      padding-top: calc(1.875rem + 1.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -1.0867647059rem  +  21.0588235294vw , 14.3125rem )) {
    .we-help {
      padding-bottom: clamp( 3.125rem , -1.0867647059rem  +  21.0588235294vw , 14.3125rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -1.0867647059rem  +  21.0588235294vw , 14.3125rem )) {
    .we-help {
      padding-bottom: calc(3.125rem + 11.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.9419117647rem  +  4.3529411765vw , 5.125rem )) {
    .we-help__title {
      padding-bottom: clamp( 2.8125rem , 1.9419117647rem  +  4.3529411765vw , 5.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.9419117647rem  +  4.3529411765vw , 5.125rem )) {
    .we-help__title {
      padding-bottom: calc(2.8125rem + 2.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 7.1875rem , 4.3404411765rem  +  14.2352941176vw , 14.75rem )) {
    .monetize {
      padding-bottom: clamp( 7.1875rem , 4.3404411765rem  +  14.2352941176vw , 14.75rem );
    }
}

@supports not (padding-bottom: clamp( 7.1875rem , 4.3404411765rem  +  14.2352941176vw , 14.75rem )) {
    .monetize {
      padding-bottom: calc(7.1875rem + 7.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .monetize__button-donate {
      font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9529411765rem  +  0.2352941176vw , 1.125rem )) {
    .monetize__button-donate {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 53.125);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem )) {
    .we-help-item__title {
      font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5617647059rem  +  0.9411764706vw , 2.25rem )) {
    .we-help-item__title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem )) {
    .we-help-item__title {
      padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem )) {
    .we-help-item__title {
      padding-bottom: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem )) {
    .we-help-item__text {
      padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6786764706rem  +  1.2941176471vw , 1.625rem )) {
    .we-help-item__text {
      padding-bottom: calc(0.9375rem + 0.6875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.3720588235rem  +  13.7647058824vw , 10.4375rem )) {
    .business {
      padding-bottom: clamp( 3.125rem , 0.3720588235rem  +  13.7647058824vw , 10.4375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.3720588235rem  +  13.7647058824vw , 10.4375rem )) {
    .business {
      padding-bottom: calc(3.125rem + 7.3125 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 3.125rem , 2.1838235294rem  +  4.7058823529vw , 5.625rem )) {
    .business__body {
      gap: clamp( 3.125rem , 2.1838235294rem  +  4.7058823529vw , 5.625rem );
    }
}

@supports not (gap: clamp( 3.125rem , 2.1838235294rem  +  4.7058823529vw , 5.625rem )) {
    .business__body {
      gap: calc(3.125rem + 2.5 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.4375rem )) {
    .business__text {
      padding-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2867647059rem  +  2.9411764706vw , 3.4375rem )) {
    .business__text {
      padding-bottom: calc(1.875rem + 1.5625 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-top: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem )) {
    .our-platform {
      padding-top: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 1.1720588235rem  +  9.7647058824vw , 8.3125rem )) {
    .our-platform {
      padding-top: calc(3.125rem + 5.1875 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , -0.4044117647rem  +  17.6470588235vw , 12.5rem )) {
    .our-platform {
      padding-bottom: clamp( 3.125rem , -0.4044117647rem  +  17.6470588235vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , -0.4044117647rem  +  17.6470588235vw , 12.5rem )) {
    .our-platform {
      padding-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 53.125);
    }
}

@supports (padding-bottom: clamp( 2.1875rem , 0.7051470588rem  +  7.4117647059vw , 6.125rem )) {
    .our-platform__text {
      padding-bottom: clamp( 2.1875rem , 0.7051470588rem  +  7.4117647059vw , 6.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.1875rem , 0.7051470588rem  +  7.4117647059vw , 6.125rem )) {
    .our-platform__text {
      padding-bottom: calc(2.1875rem + 3.9375 * (100vw - 20rem) / 53.125);
    }
}

@supports (gap: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem )) {
    .our-platform__box-pictures {
      gap: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2955882353rem  +  1.6470588235vw , 1.5rem )) {
    .our-platform__box-pictures {
      gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 53.125);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (gap: clamp( 0.9375rem , -4.8482142857rem  +  12.0535714286vw , 6rem )) {
    .header__body {
      gap: clamp( 0.9375rem , -4.8482142857rem  +  12.0535714286vw , 6rem );
    }
}

@supports not (gap: clamp( 0.9375rem , -4.8482142857rem  +  12.0535714286vw , 6rem )) {
    .header__body {
      gap: calc(0.9375rem + 5.0625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem )) {
    .menu__link {
      padding-right: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem );
    }
}

@supports not (padding-right: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem )) {
    .menu__link {
      padding-right: calc(0.375rem + 0.25 * (100vw - 48rem) / 42);
    }
}

@supports (padding-left: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem )) {
    .menu__link {
      padding-left: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem );
    }
}

@supports not (padding-left: clamp( 0.375rem , 0.0892857143rem  +  0.5952380952vw , 0.625rem )) {
    .menu__link {
      padding-left: calc(0.375rem + 0.25 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 0.0000000625rem , -2.2142855804rem  +  4.6130950893vw , 1.9375rem )) {
    .footer__contact {
      padding-right: clamp( 0.0000000625rem , -2.2142855804rem  +  4.6130950893vw , 1.9375rem );
    }
}

@supports not (padding-right: clamp( 0.0000000625rem , -2.2142855804rem  +  4.6130950893vw , 1.9375rem )) {
    .footer__contact {
      padding-right: calc(0.0000000625rem + 1.9374999375 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 48em) and (max-width: 64em) {
@supports (width: clamp( 5.4375rem , -6.9375rem  +  25.78125vw , 9.5625rem )) {
    .home__box-img_phone {
      width: clamp( 5.4375rem , -6.9375rem  +  25.78125vw , 9.5625rem );
    }
}

@supports not (width: clamp( 5.4375rem , -6.9375rem  +  25.78125vw , 9.5625rem )) {
    .home__box-img_phone {
      width: calc(5.4375rem + 4.125 * (100vw - 48rem) / 16);
    }
}

@supports (height: clamp( 10.625rem , -12.25rem  +  47.65625vw , 18.25rem )) {
    .home__box-img_phone {
      height: clamp( 10.625rem , -12.25rem  +  47.65625vw , 18.25rem );
    }
}

@supports not (height: clamp( 10.625rem , -12.25rem  +  47.65625vw , 18.25rem )) {
    .home__box-img_phone {
      height: calc(10.625rem + 7.625 * (100vw - 48rem) / 16);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 48em) {
  .home__box-img_phone {
    width: 9.375rem;
  }

  .home__box-img_phone {
    height: 16.875rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 26.5625em) and (max-width: 48em) {
@supports (width: clamp( 5.4375rem , 0.5586734694rem  +  18.3673469388vw , 9.375rem )) {
    .home__box-img_phone {
      width: clamp( 5.4375rem , 0.5586734694rem  +  18.3673469388vw , 9.375rem );
    }
}

@supports not (width: clamp( 5.4375rem , 0.5586734694rem  +  18.3673469388vw , 9.375rem )) {
    .home__box-img_phone {
      width: calc(5.4375rem + 3.9375 * (100vw - 26.5625rem) / 21.4375);
    }
}

@supports (height: clamp( 10.625rem , 2.8808309038rem  +  29.1545189504vw , 16.875rem )) {
    .home__box-img_phone {
      height: clamp( 10.625rem , 2.8808309038rem  +  29.1545189504vw , 16.875rem );
    }
}

@supports not (height: clamp( 10.625rem , 2.8808309038rem  +  29.1545189504vw , 16.875rem )) {
    .home__box-img_phone {
      height: calc(10.625rem + 6.25 * (100vw - 26.5625rem) / 21.4375);
    }
}
}